# The purpose of this notebook is to use SQL to create csv files that will make it easy to Visualize the data and answer questions using Tableau

In [1]:
# Import libraries
import pandas as pd
from pandas import DataFrame
import sqlite3

In [2]:
# Connect the factbook database
factbook_db = 'factbook.db'
conn = sqlite3.connect(factbook_db)
c = conn.cursor()

In [3]:
# View all the tables
query = 'SELECT * FROM sqlite_master WHERE type = "table"'
c.execute(query)
print(c.fetchall())

[('table', 'facts', 'facts', 2, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "area_land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float, "created_at" datetime, "updated_at" datetime)'), ('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)')]

# Complete Dataset

In [4]:
# Make one big database with the information
query1 = 'SELECT name, area, area_land, area_water, population, population_growth, birth_rate, death_rate, migration_rate FROM facts'

c.execute(query1)
checkin = c.fetchall()

factbook_df = DataFrame(checkin, columns = ['name','area', 'area_land', 'area_water', 'population', 'population_growth', 'birth_rate', 'death_rate', 'migration_rate'])



factbook_df.to_csv('factbook_df', index = False)
factbook_df.head(10)

,name,area,area_land,area_water,population,population_growth,birth_rate,death_rate,migration_rate
0,Afghanistan,652230.0,652230.0,0.0,32564342.0,2.32,38.57,13.89,1.51
1,Albania,28748.0,27398.0,1350.0,3029278.0,0.30,12.92,6.58,3.30
2,Algeria,2381741.0,2381741.0,0.0,39542166.0,1.84,23.67,4.31,0.92
3,Andorra,468.0,468.0,0.0,85580.0,0.12,8.13,6.96,0.00
4,Angola,1246700.0,1246700.0,0.0,19625353.0,2.78,38.78,11.49,0.46
5,Antigua and Barbuda,442.0,442.0,0.0,92436.0,1.24,15.85,5.69,2.21
6,Argentina,2780400.0,2736690.0,43710.0,43431886.0,0.93,16.64,7.33,0.00
7,Armenia,29743.0,28203.0,1540.0,3056382.0,0.15,13.61,9.34,5.80
8,Australia,7741220.0,7682300.0,58920.0,22751014.0,1.07,12.15,7.14,5.65
9,Austria,83871.0,82445.0,1426.0,8665550.0,0.55,9.41,9.42,5.56

# Here we can see that the last 7 rows aren't countries so we will take that into account

# Question 1

1) Which country's population is growing at the highest rate?

In [5]:
q1 = 'SELECT name, population_growth FROM facts'
c.execute(q1)

checkin = c.fetchall()

q1 = DataFrame(checkin, columns = ['Country','Population Growth'])[:-7]


q1.to_csv('q1.csv',index = False)

# Question 2

2) Which country has the smallest population to area ratio?

In [6]:
q2 = 'SELECT name, population/area FROM facts'
c.execute(q2)

checkin = c.fetchall()

q2 = DataFrame(checkin, columns = ['Country' , 'Population to Area Ratio'])[:-7]

q2.to_csv('q2.csv', index = False)

# Question 3

3) Which country is losing the most people by death or migration?

In [7]:
q3 = 'SELECT name, death_rate+migration_rate FROM facts'
c.execute(q3)
checkin = c.fetchall()
q3 = DataFrame(checkin, columns = ['Country','Death rate + Migration Rate '])[:-7]
q3.to_csv('q3.csv', index = False)

# Question 4

4) Which country has the largest water to total area ratio?

In [18]:
q4 = 'SELECT name, area,area_land,area_water FROM facts'
c.execute(q4)
checkin = c.fetchall()
q4 = DataFrame(checkin, columns = ['Country','Total Area','Land Area', 'Water Area'])[:-7]
q4.to_csv('q4.csv', index = False)